@model IEnumerable<AutEmplAcc.Model.Branches>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" /> 
    <link rel="stylesheet" href="~/css/tableEmpl.css" />
</head>
<body>
    <div id="branchAddress">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Адрес</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in Model)
            {
                <tr>
                    <td>@branch.Name</td>
                    <td>@branch.Address</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@branch.BranchId">Изменить</a> |
                        <a asp-page="./Details" asp-route-id="@branch.BranchId">Детали</a> |
                        <a asp-page="./Delete" asp-route-id="@branch.BranchId">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <p>
        <a asp-page="Index">Назад</a>
    </p>
</body>
</html>

