@page
@model AutEmplAcc.Pages.Branch.IndexModel

@{
    ViewData["Title"] = "Изменить филиалы";
}

<h1>Изменить филиалы</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branches[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branches[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BranchId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BranchId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BranchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
